h1 {
  text-align: center;
  font-size: 35px;
  color: white;
  text-transform; lowercase;
}

h2 {
  color: black;
  text-align: center;
  font-size: 27px;
}

h6 {
  color: white;
  text-align: center;
  font-size: 20px;
}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    color: black;
    text-decoration: none;
}
.fa-facebook {
  background: transparent;
  color: grey;
}

.fa-twitter {
  background: transparent;
  color: grey;
}
.fa-instagram {
  background: transparent;
  color: grey;
}
.fa-pinterest {
  background: transparent;
  color: grey;
}
.lowercase {
  text-transform: lowercase;
  }

form {
    padding-right: 230px;
    padding-left: 230px;
    padding-bottom: 50px;
    color: white;
  }

.logo {
  float: right;
  padding-right: 20px;
}
.btn {
  background: transparent;
  color: white;
  border: none;
  font-size: 20px;
}

.btn:hover {
    color: black;
    background: transparent;
    text-decoration: none;
}

#aboutus {
    color: white;
    font-size: 15px;
    padding-right: 150px;
    padding-left: 150px;
    text-align: center;
}

tr td.fieldtable {
    border-collapse: collapse;
    border: 3px green;
}

#contactus {
    color: white;
}

img.fieldphotos {
    width: 100%;
    height: 100%;
    align: center;

}

.hideme {
    opacity: 1;
    transition: opacity 1s;
}

hideme.visible {
    opacity: 1;
}
