h3 {
  color: white;
  text-align: center;
  font-size: 50px;
}


@fontface {
  font-family: "WildYouth-Regular";
    src: url("/field_notes/css/WildYouth-Regular.otf") format("opentype");
}

h1 {
  font-family: "WildYouth-Regular";
  text-align: center;
  font-size: 50px;
  color: white;
}
